# New Section

In [1]:

import sys
import os

import numpy as np
import pandas as pd


import sklearn.model_selection
from sklearn.preprocessing import OneHotEncoder




from tqdm import tqdm
import random 
import datetime

import joblib
import pickle
import tempfile


import random 
import datetime


'''
#LOCAL
ROOT_DIR = os.path.expanduser('~')

folder = ROOT_DIR + '/Downloads/m5-forecasting-accuracy/'

calendar = pd.read_csv(folder+'calendar.csv')
sales_train_evaluation = pd.read_csv(folder+'sales_train_evaluation.csv')
sales_train_validation = pd.read_csv(folder+'sales_train_validation.csv')
sample_submission = pd.read_csv(folder+'sample_submission.csv')
sell_prices = pd.read_csv(folder+'sell_prices.csv')
'''


#'''
#SAGEMAKER:
#!conda install -c conda-forge lightgbm

import boto3
import sagemaker
from sagemaker import get_execution_role


# sagemaker session, role
sagemaker_session = sagemaker.Session()
role = sagemaker.get_execution_role()


# S3 bucket name
bucket = 'm5-forecasting-accuracy'
subfolder = ''
conn = boto3.client('s3')
contents = conn.list_objects(Bucket=bucket, Prefix=subfolder)['Contents']

calendar = pd.read_csv('s3://{}/{}'.format(bucket, 'calendar.csv'))
sales_train_evaluation = pd.read_csv('s3://{}/{}'.format(bucket, 'sales_train_evaluation.csv'))
sales_train_validation = pd.read_csv('s3://{}/{}'.format(bucket, 'sales_train_validation.csv'))
sample_submission = pd.read_csv('s3://{}/{}'.format(bucket, 'sample_submission.csv'))
sell_prices = pd.read_csv('s3://{}/{}'.format(bucket, 'sell_prices.csv'))
#'''
#df_melt = pd.read_pickle('s3://{}/{}'.format(bucket, 'df_melt.pkl'))

**Load the data**

In [2]:
df = sales_train_evaluation

In [3]:
df.head()

,id,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,...,d_1932,d_1933,d_1934,d_1935,d_1936,d_1937,d_1938,d_1939,d_1940,d_1941
0,HOBBIES_1_001_CA_1_evaluation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,2,4,0,0,0,0,3,3,0,1
1,HOBBIES_1_002_CA_1_evaluation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,1,2,1,1,0,0,0,0,0
2,HOBBIES_1_003_CA_1_evaluation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,0,2,0,0,0,2,3,0,1
3,HOBBIES_1_004_CA_1_evaluation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,1,0,4,0,1,3,0,2,6
4,HOBBIES_1_005_CA_1_evaluation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,0,0,2,1,0,0,2,1,0

In [4]:
calander= calendar

**data preprocessing**

In [5]:
c = calander[['date','wm_yr_wk','d']]
df_test = df[:10]
features = ['item_id','cat_id','store_id','state_id','wday','month','year']
cat = ['item_id','cat_id','store_id','state_id']
numcols = [f"d_{day}" for day in range(1,1914)]
df_test = pd.melt(df_test, id_vars=cat, value_vars = numcols, var_name='d',value_name='sales')
df_test = df_test.merge(c, on='d').merge(sell_prices, on=['store_id','item_id','wm_yr_wk'])

In [6]:
enc = OneHotEncoder(handle_unknown='ignore')
enc.fit_transform(df_test)
df_test

,item_id,cat_id,store_id,state_id,d,sales,date,wm_yr_wk,sell_price
0,HOBBIES_1_008,HOBBIES,CA_1,CA,d_1,12,2011-01-29,11101,0.46
1,HOBBIES_1_008,HOBBIES,CA_1,CA,d_2,15,2011-01-30,11101,0.46
2,HOBBIES_1_008,HOBBIES,CA_1,CA,d_3,0,2011-01-31,11101,0.46
3,HOBBIES_1_008,HOBBIES,CA_1,CA,d_4,0,2011-02-01,11101,0.46
4,HOBBIES_1_008,HOBBIES,CA_1,CA,d_5,0,2011-02-02,11101,0.46
...,...,...,...,...,...,...,...,...,...
15891,HOBBIES_1_008,HOBBIES,CA_1,CA,d_1913,1,2016-04-24,11613,0.48
15892,HOBBIES_1_009,HOBBIES,CA_1,CA,d_1912,0,2016-04-23,11613,1.77
15893,HOBBIES_1_009,HOBBIES,CA_1,CA,d_1913,0,2016-04-24,11613,1.77
15894,HOBBIES_1_010,HOBBIES,CA_1,CA,d_1912,0,2016-04-23,11613,2.97
15895,HOBBIES_1_010,HOBBIES,CA_1,CA,d_1913,2,2016-04-24,11613,2.97

In [7]:
sell_prices.head()

  store_id        item_id  wm_yr_wk  sell_price
0     CA_1  HOBBIES_1_001     11325        9.58
1     CA_1  HOBBIES_1_001     11326        9.58
2     CA_1  HOBBIES_1_001     11327        8.26
3     CA_1  HOBBIES_1_001     11328        8.26
4     CA_1  HOBBIES_1_001     11329        8.26

In [8]:
df.head()

,id,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,...,d_1932,d_1933,d_1934,d_1935,d_1936,d_1937,d_1938,d_1939,d_1940,d_1941
0,HOBBIES_1_001_CA_1_evaluation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,2,4,0,0,0,0,3,3,0,1
1,HOBBIES_1_002_CA_1_evaluation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,1,2,1,1,0,0,0,0,0
2,HOBBIES_1_003_CA_1_evaluation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,0,2,0,0,0,2,3,0,1
3,HOBBIES_1_004_CA_1_evaluation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,1,0,4,0,1,3,0,2,6
4,HOBBIES_1_005_CA_1_evaluation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,0,0,2,1,0,0,2,1,0

In [9]:
ds=2011
de=2016

calander = calander[(calander['year'] >= ds) & (calander['year'] <de)]
# Before one row represents all sales for one item (30490 rows)
# After one row represents one day's sales for one item (58327370 rows = 30490 * 1913)
numcols = [f"d_{day}" for day in range(1,1914)]

In [10]:


# Convert category columns to numbers
# removing dept_id and store from features, not enough training data atm for these
features = ['item_id','cat_id','store_id','state_id','wday','month','year']
cat = ['item_id','cat_id','store_id','state_id']
target = 'sales'
for c in cat:
    df[c] = df[c].astype('category').cat.codes

In [11]:
%time

CPU times: user 3 Âµs, sys: 1 Âµs, total: 4 Âµs
Wall time: 5.96 Âµs

In [12]:
%time
df = pd.melt(df, id_vars=cat, value_vars = numcols, var_name='d',value_name='sales')
df

CPU times: user 3 Âµs, sys: 0 ns, total: 3 Âµs
Wall time: 8.11 Âµs

          item_id  cat_id  store_id  state_id       d  sales
0            1437       1         0         0     d_1      0
1            1438       1         0         0     d_1      0
2            1439       1         0         0     d_1      0
3            1440       1         0         0     d_1      0
4            1441       1         0         0     d_1      0
...           ...     ...       ...       ...     ...    ...
58327365     1432       0         9         2  d_1913      1
58327366     1433       0         9         2  d_1913      0
58327367     1434       0         9         2  d_1913      0
58327368     1435       0         9         2  d_1913      3
58327369     1436       0         9         2  d_1913      0

[58327370 rows x 6 columns]

In [13]:
#%time
#df['d'] =  pd.to_numeric(df['d'].str.split('_',expand=True)[1])
#df

In [14]:
#%time
#calander['d'] =  pd.to_numeric(calander['d'].str.split('_',expand=True)[1])
#calander

In [15]:
%time
df_train = df.merge(calander,on='d')
df_train

CPU times: user 3 Âµs, sys: 0 ns, total: 3 Âµs
Wall time: 7.87 Âµs

,item_id,cat_id,store_id,state_id,d,sales,date,wm_yr_wk,weekday,wday,month,year,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI
0,1437,1,0,0,d_1,0,2011-01-29,11101,Saturday,1,1,2011,NaN,NaN,NaN,NaN,0,0,0
1,1438,1,0,0,d_1,0,2011-01-29,11101,Saturday,1,1,2011,NaN,NaN,NaN,NaN,0,0,0
2,1439,1,0,0,d_1,0,2011-01-29,11101,Saturday,1,1,2011,NaN,NaN,NaN,NaN,0,0,0
3,1440,1,0,0,d_1,0,2011-01-29,11101,Saturday,1,1,2011,NaN,NaN,NaN,NaN,0,0,0
4,1441,1,0,0,d_1,0,2011-01-29,11101,Saturday,1,1,2011,NaN,NaN,NaN,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54821015,1432,0,9,2,d_1798,1,2015-12-31,11548,Thursday,6,12,2015,NaN,NaN,NaN,NaN,0,0,0
54821016,1433,0,9,2,d_1798,0,2015-12-31,11548,Thursday,6,12,2015,NaN,NaN,NaN,NaN,0,0,0
54821017,1434,0,9,2,d_1798,1,2015-12-31,11548,Thursday,6,12,2015,NaN,NaN,NaN,NaN,0,0,0
54821018,1435,0,9,2,d_1798,0,2015-12-31,11548,Thursday,6,12,2015,NaN,NaN,NaN,NaN,0,0,0
54821019,1436,0,9,2,d_1798,0,2015-12-31,11548,Thursday,6,12,2015,NaN,NaN,NaN,NaN,0,0,0

In [ ]:
s3_resource = boto3.resource('s3')
with tempfile.TemporaryFile() as fp:
    joblib.dump(df_train, fp)
    fp.seek(0)
    s3_resource.meta.client.put_object(Body = fp.read(), Bucket = bucket, Key = key)

In [ ]:
df_train['d'] =  pd.to_numeric(df_train['d'].str.split('_',expand=True)[1])

In [23]:
train_df = df_train[df_train.d < df_train['d'].unique()[-28]]

MemoryError: Unable to allocate 3.27 GiB for an array with shape (8, 54821020) and data type int64

In [ ]:
val_df= df_train[df_train.d >= df_train['d'].unique()[-28]]

In [ ]:
X = train_df[features].values
X_val = val_df[features].values
y=train_df[target].values
y_val=val_df[target].values

In [ ]:
#paramaters = {'objective':'rmse','metric':'rmse','num_leaves':31}
#model = lgb.train(paramaters,train_data,valid_sets = val_data,num_boost_round = 1000, early_stopping_rounds=100)

In [ ]:
# Creates test data for model.
# ds {int} Date start, inclusive. e.g 1914 (for this comp)
# de {int} Date end, inclusive. e.g 1941 (for this comp)
#
def create_test_data(ds=1914,de=1941):
    calander = pd.read_csv('data/calendar.csv')
    df=pd.read_csv('data/sales_train_validation.csv')
    sell_prices = pd.read_csv('data/sell_prices.csv')
    features = ['item_id','cat_id','state_id','wday','month','year']
    df_features = ['item_id','cat_id','state_id']
    cal_features = ['wday','month','year']
    test_ids = df['id'].unique()
    df_test = df[df_features]
    
    cat = ['item_id','cat_id','state_id']
    for c in cat:
        df_test[c] = df_test[c].astype('category').cat.codes
    
    #test_day_columns=['F'+str(i) for i in range(1,28)]
    calander['d'] =  pd.to_numeric(calander['d'].str.split('_',expand=True)[1])
    calander = calander[(calander.d >= ds) & (calander.d <=de)]
    calander['key'] = 0
    df_test['key'] = 0
    merged = df_test.merge(calander, on='key')
    df_test = merged[features]
    return df_test, df['id']

In [ ]:
def create_28_day_test_submission(test_df,ids,model):
    y_pred = model.predict(test_df.values)
    y_grp = [y_pred[i:i+28] for i  in range(0, len(y_pred), 28)]
    test_day_columns=['F'+str(i) for i in range(1,29)]
    df_sub = pd.DataFrame(columns=test_day_columns,data=y_grp)
    df_sub['id'] = ids
    return df_sub[['id',*test_day_columns]]

In [ ]:
ds=1914
de=1941

val_test_data,val_ids = create_test_data(ds,de,calander,df,sell_prices)