# New Section

In [2]:

import sys
import os

import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

import sklearn.model_selection





from tqdm import tqdm
import random 
import datetime

import joblib
import pickle
import tempfile


import random 
import datetime


#'''
#SAGEMAKER:
#!conda install -c conda-forge lightgbm

import boto3
import sagemaker
from sagemaker import get_execution_role


# sagemaker session, role
session = sagemaker.Session()
role = sagemaker.get_execution_role()


# S3 bucket name
bucket = 'sagemaker-us-west-2-479862333671'
subfolder = ''
conn = boto3.client('s3')
contents = conn.list_objects(Bucket=bucket, Prefix=subfolder)['Contents']

**Load the data**

In [3]:
X_df = pd.read_csv('s3://{}/{}'.format(bucket, 'data/X_df.csv'))

In [4]:
X_df

             0  1  2  3  4   5     6
0         1437  1  0  0  1   1  2011
1         1438  1  0  0  1   1  2011
2         1439  1  0  0  1   1  2011
3         1440  1  0  0  1   1  2011
4         1441  1  0  0  1   1  2011
...        ... .. .. .. ..  ..   ...
53967295  1432  0  9  2  6  12  2015
53967296  1433  0  9  2  6  12  2015
53967297  1434  0  9  2  6  12  2015
53967298  1435  0  9  2  6  12  2015
53967299  1436  0  9  2  6  12  2015

[53967300 rows x 7 columns]

In [6]:
y_df = pd.read_csv('s3://{}/{}'.format(bucket, 'data/y_df.csv'))

In [7]:
y_df

          0
0         0
1         0
2         0
3         0
4         0
...      ..
53967295  1
53967296  0
53967297  1
53967298  0
53967299  1

[53967300 rows x 1 columns]